@font-face {
  font-family: 'iconsfont';
  src:
    url('fonts/iconsfont.ttf?mjljox') format('truetype'),
    url('fonts/iconsfont.woff?mjljox') format('woff'),
    url('fonts/iconsfont.svg?mjljox#iconsfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before, [class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconsfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-phone:before {
content: "\e900";
}
._icon-route:before {
content: "\e901";
}
._icon-photo:before {
content: "\e902";
}
._icon-vk:before {
content: "\e903";
}
._icon-info:before {
content: "\e904";
}
._icon-project:before {
content: "\e905";
}
._icon-about-us:before {
content: "\e906";
}
._icon-instagram:before {
content: "\e907";
}
  
